@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.a-button {
    cursor: pointer;
}
.body {
    background: rgb(78, 78, 78);
    height: 97.5vh;
    width: 100%;
}

.header {
    background: rgb(78, 78, 78);

    display: flex;
}

.logo {
    padding: 10px;
    height: 70px;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    color: white;
}

.scream {
    background: rgb(78, 78, 78);
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 95%;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding: 5px;
    background: rgba(2, 121, 12, 0.699);
    border-top-right-radius: 8px;
}

.nav2{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.button {
    display: grid;
    grid: 1rem;
    width: 35%;
    height: 80px;
}

.bnt {
    margin-top: 10px;
    width: 100%;
    background: rgba(140, 223, 137, 0.897);
    border: 1px solid rgb(31, 151, 31);
    border-radius: 5px;
}

.container {
    background: rgb(78, 78, 78);
    width: 120%;
    height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    align-items: center;
}

p {
    text-align: center;
    font-size: 15px;
    color: white;
}

.icon {
    color: rgb(5, 5, 5);
    height: 25px;
    -webkit-filter: invert();
    filter: invert();
}
.icon2 {

    height: 25px;

}

#button {
    width: 100px;
    display: grid;
    background-color: var(--bs-table-bg);
    grid-template-columns: 1fr 1fr;
}

#email {
    max-width: 100px;
    overflow: hidden;
}

#overlay-update {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    /* Establecer un valor alto para que sea visible sobre el contenido */
}

#overlay-update-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay-create {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    /* Establecer un valor alto para que sea visible sobre el contenido */
}

#overlay-create-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
#overlay-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    /* Establecer un valor alto para que sea visible sobre el contenido */
}
#overlay-delete-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
td{
    max-width: 250px;
    table-layout: fixed;
}
.toggle-password {
    cursor: pointer;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
#overlay-show-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    /* Establecer un valor alto para que sea visible sobre el contenido */
}
#overlay-show-message-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 8px 0;
    color: black; /* Establece el color del texto en negro */

}

.card .attachment {
    text-align: center;
    margin: 8px 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}